<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>blog-list</h1>

    <ul class="list-group"></ul>
<%- include('../partials/category-menu.ejs',categories) %>
  </ul>
  </body>
</html>
