<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <h1>index</h1>
    <ul class="list-group">
      <%- include('../partials/category-menu.ejs',categories) %>
    </ul>
  </body>
</html>
